<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Координационный центр</h3>
            <p>
              площадь Шокина, 1с8, Зеленоградский административный округ <br>
              Москва, Зеленоград<br>
              Россия <br><br>
              <strong>Телефон:</strong> 8 (499) 731-44-41<br>
              <strong>Email:</strong> coordination.centre@miee.ru<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Полезные ссылки</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Главная</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">О нас</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Программы</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Правовые документы</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Дополнительная информация</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Карьера</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Школьникам</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Партнеры</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Подписывайтесь на нас</h4>
            <p>Подпишитесь на нас, чтобы быть в курсе последних новостей, мероприятий и обновлений Координационного Центра</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Подписаться">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; <strong><span>Координационнй центр</span></strong>. Все права защищены.
        </div>
        <div class="credits">
          Разработано <a href="https://bootstrapmade.com/">в координационном центре</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="vk"><i class="bx bxl-vk"></i></a>
        <a href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
        <a href="#" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
      </div>
    </div>
</footer><!-- End Footer -->