<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:mscc@miee.ru">mscc@miee.ru</a>
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="whatsapp.com" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="telegram.org" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="discord.com/" class="discord"><i class="bi bi-discord"></i></a>
        <a href="vk.com" class="vk"><i class="fa-brands fa-vk"></i></a>
      </div>
    </div>
  </div>